{% extends 'layout.html' %}


{% block contenido %}
  <h1>{{ titulo }}</h1>  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad Inventario</th>
            <th scope="col">Precio</th>
            <th scope="col">Unidad de Medida</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
            <tr>
              <th scope="row">{{producto.codigo}}</th>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.cantidad_stock}}</td>
              <td>{{producto.valor_unitario}}</td>
              <td>{{producto.unidad_medida}}</td>
              <td>{{producto.categoria}}</td>
              <td>
                <button type="button" class="btn btn-success">Editar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
{% endblock contenido %}
    
      
