{% extends 'layout.html' %}


{% block contenido %}
  <h1>{{ titulo }}</h1>  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Documento Identidad</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
            <tr>
              <th scope="row">{{cliente.documento_identidad}}</th>
              <td>{{cliente.nombre_completo}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.email}}</td>
              <td>
                <button type="button" class="btn btn-success">Editar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
{% endblock contenido %}
    
      
